.right {
        text-align:right;
        margin-left: auto;
    }
.tiny {
  margin-top: min(2vw,30px);
  margin-left:10px

}

body{
  background-color:white;
   margin-bottom:150px;
  
}

.username {
  display:flex;
  justify-content: center;
  margin-top: auto;
  font-size: 3vw;
}

#pinwheel {
animation: spin 0.5s linear infinite;
transition: transform 0.3s ease-in-out;
width: 100px;
height: auto;
z-index: 999;
position: fixed;
display: block;
left: 50%;
top: 50%;
}
@keyframes spin {
  from {transform: translate(-50%, -50%) rotate(0deg);}
  to {transform: translate(-50%, -50%) rotate(360deg);}
}
#cover {
  background-color:white;
  z-index: 888;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#settingscover {
  display: none;
  background-color:white;
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#pfp {
  border-radius: 100%;
  margin-top: 20px;
  width:150px;
  height:150px;
  object-fit:cover

}
.tinyyou {
margin-top: clamp(-35px,-20vw,-30px);
margin-right:10px
}
#settings {
height: 4vw;
width: auto;
display:flex;
position: fixed;
right:0;
margin-top: 2vw;
margin-right: 2vw;
z-index:999;
}

.count {
animation: count90 0.5s linear;
transition: transform 0.3 ease-in-out;

}
.clock {
animation: clock90 0.5s linear;
transition: transform 0.3 ease-in-out;
}

@keyframes clock90 {
  from {transform: rotate(0deg);}
  to {transform: rotate(180deg);}
}
@keyframes count90 {
  from {transform: rotate(0deg);}
  to {transform: rotate(-180deg);}
}
*{
  font-family:'sf';  
  user-select: none;
}
div {font-family: 'sf';}
.text {
  font-size:max(3vw,50px) 
}
#liftpls {
  margin-bottom: 20px;  
}
.profile {
background-color:white;
height: 100px;
width: 100%;
height: 220px;
position:fixed;
top:0;
right:0;
display:flex;
flex-direction: column;
align-items: center;
z-index: 1001;

}
.sad {
 height: 9vw;
 position: absolute;
 right:0;
 margin-right: -16px;
}
@font-face {
font-family:'sf';
src:url(SF-Pro-Text-Regular.otf) format("opentype");
font-display:swap;
}
.inputText {
  border: none;
  border-color: transparent;
  background-color: transparent;
  font-size: 5vw;
  outline: none;
   border:0;
  border-color: transparent;
  border-style: none;
  margin-left:5px;
  width: 85vw;
}

.inputdiv {
  display: flex;
  align-items: center;
  background:#f7f7f7;
  background:#f7f7f7;
  border-radius:clamp(15px,3vw,50px) ;
  padding: 7px;
  caret-color: #078BFF;
  position: fixed;
  bottom:0;
  width:95%;
  margin:auto;
  left: 0;
  z-index: 100;
  right:0;
  outline:none;
  min-height:max(20px,5vw);

}
.messagebubble {
  border-radius: 40px;
  max-width: 75vw;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  width:fit-content;
  height: fit-content;
  justify-content: right;
  word-break: break-all;
  text-align: left;

}


.messagebubble.right {background-color: #078CFF;}
.messagebubble.right::after {
  content:'';
  width: 0px;
  height: 0px;
  border-top: max(2vw,25px) solid #078CFF;
  border-left:max(2vw,25px) solid transparent;
  position: absolute;
  margin-top: clamp(56px,2.5vw,60px);
  margin-left:clamp(-13px,-1vw,-15px);}


  
  .messagebubble.left::after {
  content:'';
  width: 0px;
  height: 0px;
  border-top: max(2.3vw,25px) solid #E9E9EB;
  border-right: max(2.3vw,25px) solid transparent;
  position: absolute;
  margin-top: clamp(56px,2.5vw,60px);
  left:clamp(20px,2.5vw,30px)
}
.messagebubble.left {background-color: #E9E9EB;}