.right {
        text-align:right
    }
.tiny {
  font-size:max(1vw,16px)
}
.tinyyou {
margin-top: -50px

}
*{
  font-family:'sf';  
}
.text {
  font-size:max(3vw,50px) 
}
@font-face {
font-family:'sf';
src:url(SF-Pro-Text-Regular.otf) format("opentype");
font-display:swap;
}