.right {
        text-align:right;
        margin-left: auto;
    }
.tiny {
  font-size:max(1vw,16px)
}
.tinyyou {
margin-top: -50px

}
*{
  font-family:'sf';  
}
.text {
  font-size:max(3vw,50px) 
}
@font-face {
font-family:'sf';
src:url(SF-Pro-Text-Regular.otf) format("opentype");
font-display:swap;
}
.inputText {
  border:none;
  border-color: transparent;
  border-style: none;
  background:#f7f7f7;
  border-radius: 15px;
  padding: 7px;
  caret-color: #078BFF;
}
.messagebubble {
  border-radius: 15px;
  padding: 10px;
  padding-right: 100px;
  padding-left: 100px;
  width:fit-content;
  height: fit-content;
  justify-content: right;}

.messagebubble.right {background-color: #078CFF;}
.messagebubble.left {background-color: #E9E9EB;}